<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: signin_path) do |f| %>
            <div class="form-group">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, class: 'form-control', required: true %>

                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, class: 'form-control', required: true %>
            </div>

            <%= f.submit t("signin.submit"), class: "btn btn-primary mt-2" %>
        <% end %>

        <p> <%= t("signin.forgot_password_start") %> <%= link_to t("signin.here"), forgot_password_form_path %> <%= t("signin.forgot_password_end") %> </p>
        <p><%= t("signin.new_user") %> <%= link_to t("home.signup"), signup_path %></p>
    </div>
</div>
